{{define "footer"}}
<footer>
    <div class="left">
        <p>Created at 01</p>
        <p>Project : Live-Forum</p>
    </div>
    <div class="mid">
        <p>by</p>
        <p>Maxime / Mathis / Ulrik / Clement</p>
    </div>
    <div class="right">
        <p>2023</p>
        <p>GO / JS / HTML / CSS / GIT</p>
    </div>
</footer>
{{template "ws"}}

</body>
<script src="../../static/js/front.js"></script>
<script type='text/javascript'>
    (function(){
    // do some stuff
        setInterval(load, 100);
    })();
    function load() {
      if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
      }
    }
  </script>
</html>
{{end}}