{{define "header"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoChat</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<div class="header">
    <div class="header__logo">
        <a href="/"><img src="/static/img/logo.png" alt="logo"></a>
    </div>
    <div class="header__menu">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</div>
{{end}}