{{define "header"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "icon" href ="/static/img/logo.png" type ="image/x-icon">
    <title>GoChat</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<div class="header">
    <div class="header__logo">
        <a onclick="SwitchPage('')"><img id="logo" src="/static/img/logo.png"></a>
    </div>
    <div class="header__menu">
        <ul>
            <li><a onclick="SwitchPage('login')">Login</a></li>
            <li><a onclick="SwitchPage('register')">Register</a></li>
            <li><a onclick="SwitchPage('forum')">Forum</a></li>
            <li><a onclick="SwitchPage('mp')">MP</a></li>
            <li><a onclick="SwitchPage('account')">Account</a></li>
        </ul>
    </div>
    <div id="user">Guest</div>
</div>
<script src="../../static/js/easter_egg.js"></script> 
{{template "js"}}
{{end}}