body{
    background: rgb(89,147,184);
    background: linear-gradient(90deg, rgba(89,147,184,1) 0%, rgba(158,229,255,1) 50%, rgba(242,242,242,1) 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Arial;
    color: rgb(80, 80, 131);
}

a:hover {
    border-bottom: 3px solid rgb(80, 80, 131);
}

.header{
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

.header .header__logo{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.header .header__logo img{
    max-width: 100%;
    height: auto;
}

.header .header__menu{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    
    margin: 0 10px;
    
}

.header .header__menu ul{
    color: #333;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header .header__menu ul li{
    display: inline-block;
    margin: 0 10px;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
}

.left {
    position: fixed;
    left: 1%;
    width: 32%;
}
.mid {
    position: fixed;
    left: 33%;
    width: 32%;
}
.right {
    position: fixed;
    left: 66%;
    width: 32%;
}

#logo {
    width: 50px;
    height: 50px;
}

.popup {
    position: absolute;
    width: 25%;
    left: 37.5%;
    height: auto;
    top: auto;
    border-radius: 8px;
    background-color: #e5e5e5df;
    align-items:center;
    text-align: center;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup label {
    position: absolute;
    left: 90px;
}

input {
    width: 200px;
    height: 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 5px;
}

select {
    width: 200px;
    height: 30px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 5px; 
}

.pointer {
    cursor: pointer;
}