{{define "mp"}}
{{template "header"}}
<div id="user2" style="position: absolute;right: 2%;font-weight: bold;top: 5%;cursor: pointer;">{{.Username}}</div>
<div class="conv" id="conv">
    <button class="load_message">Charger plus de messages</button>
    <h1 id="target"></h1>
    <form id="mp__send-form">
        <input id="receiver" type="text" placeholder="Receiver" hidden>
        <input id="sender" type="text" placeholder="Send">
        <button id="sender_button">Envoyer</button>
    </form>
</div>
<div class="recentconv">
    <div id="recent">Recent</div>
</div>
<div id="online_users">
    <ul>
    {{ range .Users }}
        <li><a href="javascript:converseWith('{{.Username}}')">{{.Username}}</a></li>
    {{ end }}
    </ul>
</div>
<script>
        StartMp();
    function converseWith(username) {
        if (username != document.getElementById('receiver').value) {
            document.getElementById('receiver').value = username
            console.log("Targeting  : ",username)
            const element = document.getElementById("conv");
            const divs = element.getElementsByTagName("div");
            while (divs.length > 0) {
                element.removeChild(divs[0]);
            }
            document.getElementById('target').innerHTML = username
        }
        if (document.getElementById('user2').innerHTML == username) {
            document.getElementById('target').innerHTML = username + " (You)"
        }
    }
  </script>
  
{{template "footer"}}
{{end}}